<body>
  <ng-container *ngIf="!loading">
    Loading...
  </ng-container>

  <ng-container *ngIf="loading">
    <div style="margin-bottom: 10px;">
      <input type="text" [(ngModel)]="taskName" style="border:2px solid black; border-radius: 12px; font-size: 24px;">
      <button (click)="createTaskList()" class="button">CREATE</button>
    </div>
    <div>
      <div *ngFor="let t of taskLists" class="task-list">
        <span (click)="getTasks(t)">
          <input type="text" [(ngModel)]="t.name">
        </span>
        <span style="color: orange" (click)="deleteTaskList(t)"> DELETE</span>
        <span style="color: green" (click)="updateTaskList(t)"> UPDATE</span>
      </div>

    </div>

    <div>
      <h1>{{curTaskList}}</h1>
      <div *ngFor="let p of tasks" class="tasks">{{p.name}} - {{p.status}}</div>
    </div>
  </ng-container>
</body>